{% extends 'base.html.twig' %}

{% block title %}Hello Liste des catégorie!{% endblock %}

{% block body %}
<style>
    .example-wrapper {
        margin: 1em auto;
        max-width: 800px;
        width: 95%;
        font: 18px/1.5 sans-serif;
    }

    .example-wrapper code {
        background: #F5F5F5;
        padding: 2px 6px;
    }
</style>

<div class="container">

    <table class="table">
        <tr>
            <th>Name</th>
            <th>Image link</th>
            <th>price</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        {% for product in productList %}
        <tr>
            <td><a href="#">{{product.name}}</a></td>
            <td>{{product.img}}</td>
            <td>{{product.price}} €</td>
            <td><a href="{{path('app_product_edit',{'id':product.id})}}">
                    Edit product</a>
            </td>
            <td>
                <a href="{{path('app_product_delete',{'id':product.id})}}">
                    Delete product</a>
            </td>
        </tr>

        <br>

        {% endfor %}
    </table>


</div>
{% endblock %}